body{
    background-color: rgba(128, 128, 128, 0.575);
}
div#corpo{
    width: 130vh;
    height: 30vh;
    background-color: black;
    box-shadow: 2pt 2pt 2pt 2pt black;
    padding: 5vh;
    border-radius: 5vh;
    position: absolute;
    display: block;
    left: 30vh;
    top: 20vh;
}
input#tela{
    color: red;
    font-size: 20vh;
    position: relative;
    width: 110vh;
    height: 20vh;
    border-radius: 5vh;
    padding-left: 20vh;
    background-color: rgba(255, 0, 0, 0.521);
}